@model GraduateSoftware.Models.AdminGraduateVerification

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AdminGraduateVerification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsVerified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVerified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin.AdminName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.AdminName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Graduate.GraduateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduate.GraduateName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VerificationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
