@model IEnumerable<GraduateSoftware.Models.Graduate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Vereyon.Web
@Html.RenderFlashMessages()
<table class="table">
    <tr>

        <th>
            @Html.DisplayName("İsim")
            @*@Html.DisplayNameFor(model => model.GraduateName)*@
        </th>
        <th>
            @Html.DisplayName("Soy İsim")
        </th>
        <th>
            @Html.DisplayName("Mezuniyet Yılı")
        </th>
        <th>
            @Html.DisplayName("Çalıştığı Şirket")
        </th>
        <th>
            @Html.DisplayName("Ünvanı")
        </th>
        <th>
            @Html.DisplayName("E-Mail Adresi")
        </th>
        <th>
            @Html.DisplayName("Telefon")
        </th>
        <th>
            @Html.DisplayName("Çalışma Alanı")
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GraduateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GraduateLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GraduateYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GraduateCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GraduateTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GraduateMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GraduatePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkArea.WorkAreaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkAreaDetail.WorkAreaDetailName)
            </td>
            <td>
                <a id="edit" href="#" onclick="window.location.replace('/Graduate/Edit/@item.StudentID/');">Edit</a>
            </td>
        </tr>
        
    }

</table>
