@model IEnumerable<GraduateSoftware.Models.Graduate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.GraduateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GraduateLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GraduateYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GraduateCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GraduateTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GraduateMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GraduatePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkArea.WorkAreaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkAreaDetail.WorkAreaDetailName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GraduateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GraduateLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GraduateYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GraduateCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GraduateTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GraduateMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GraduatePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkArea.WorkAreaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkAreaDetail.WorkAreaDetailName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentID }) |
        </td>
    </tr>
}

</table>
